


*{
    margin: 0%;
    padding: 0%;
    
}

nav>ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: lightpink;
}

ul>a>li {
    list-style: none;
    color: rgb(12, 12, 12);
    padding: 10px;
}

ul>a {
    text-decoration: none;

}
    .bannar {
        display: flex;
        align-items: center;
    }
button{background-color: rgb(247, 134, 192); color: aliceblue; border-radius: 3px; border: none;

}
    